*{
    margin: 0; padding: 0; box-sizing: border-box;
}

/*BODY*/
body{
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 40px;
}

/*CONTENEDOR*/
.featurette{
    width: 700px;
    border: 1px solid #9bb4c9;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: white;
}

/*IMAGEN*/
.featurette-image{
    width: 250px;
    height: 250px;
    background-color: #d9d9d9;
}

/*CONTENIDO*/
.featurette-content{
    max-width: 250px;
}

/*TITULO*/
.featurette-content h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    color: #3d5e7e;
}

/*PARRAFO*/
.featurette-content p{
    font-size: 1rem;
    line-height: 1.8;
    color: #6c757d;
}